<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2><a href="/" class="blue">Where Me At</a> is an easy way for you to share your location with friends.</h2>
        <p class="lead">
          Created at <a target="_blank" href="http://flatironschool.com/" class="blue">The Flatiron School</a> by <a target="_blank" href="https://github.com/pcrglennon" class="blue">Peter Glennon</a> <a target="_blank" href="https://twitter.com/pcrglennon" class="blue">(@pcrglennon)</a> and <a target="_blank" href="https://github.com/jusjmkim" class="blue">Justin Kim</a> <a href="https://twitter.com/jusjmkim" class="blue">(@jusjmkim)</a>.
        </p>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>