<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
      <li><a id="what-is-this-toggle" href="#what-is-this-modal" role="button" data-toggle="modal">What is this?</a></li>
    </ul>
  </div>
</nav>
