<!-- Modal -->
<div class="modal fade" id="what-is-this-modal" tabindex="-1" role="dialog" aria-labelledby="what-is-this-modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="what-is-this-modal">Where Me At?</h4>
      </div>
      <div class="modal-body">
        <h4>Where Me At is an easy way for you to share your location with friends.</h4>
        <ol class="steps">
          <li>
            Move the marker on the map to your exact location
            <img src="images/step_1.png">
          </li>
          <li>
            Give your map a short, memorable name
            <img src="images/step_2.png">
          </li>
          <li>
            Enter any number of phone numbers
            <img src="images/step_3.png">
          </li>
          <li>
            Click 'Create', and your friends will be sent a link to your map.<br>
            Your map will exist for the next 2 hours.
            <img src="images/step_4.png">
          </li>
        </ol>
      </div>

      <div class="modal-footer modal-footer-center">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok!</button>
      </div>
    </div>
  </div>
</div>