<h1></h1>

<form id="existing-map-form" action="" method="POST">

  <label for="existing-map">Existing Map Name: </label>
  <input id="existing-map" type="text" placeholder="Map Nam">

  <input type="submit" value="submit">
</form>

<form id="new-map-form" action="" method="POST">

  <label for="address">The phone number or email you want to send to: </label>
  <input id="address" type="text" placeholder="Phone Number or Email">

  <label for="new-map">Your Map's Name: </label>
  <input id="new-map" type="text" placeholder="Map Name">

  <input type="submit" value="submit">
</form>