<script type="text/javascript" src="javascripts/map.js"></script>

<div class="top-container">

  <!-- Header -->
  <header id="top" class="header">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <a href="/"><h1 id="title">Where Me At?</h1></a>
        <div id="success"><h3><%= @success %></h3></div>
        <div id="error"><h3><%= @error %></h3></div>
      </div>
    </div>
  </header>

  <div class="container">
    <div id="map-container">
      <div id="map-loading"><h3>MAP IS LOADING</h3></div>
      <div id="map-canvas"></div>
    </div>

    <%= erb :_new_map_form, layout: false %>

  </div>
</div>

<%= erb :_about, layout: false %>
