<!DOCTYPE html>
<html>
  <head>
    <title>Where Me At</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <meta name="author" content="Peter Glennon, Justin Kim">

    <!-- Boostrap -->
    <!-- css -->
    <link rel="stylesheet" href="stylish-portfolio/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylish-portfolio/css/stylish-portfolio.css">

    <!-- javascript -->
    <script src="stylish-portfolio/js/bootstrap.min.js"></script>

    <!-- custom fonts -->
    <link href="stylish-portfolio/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- jQuery -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>

    <script src=<%= "https://maps.googleapis.com/maps/api/js?key=#{settings.google_maps_api_key}" %>></script>

    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  </head>

  <body>
    <%= yield %>
  </body>
</html>