<!DOCTYPE html>
<html>
  <head>
    <title>Justin + Peter's Google Maps Thingymajig</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script type="text/javascript" src="javascripts/map.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>