<h1>Map Name: <%= @location.map_name %></h1>

<h3>Map Latitude: <%= @location.latitude %></h3>
<h3>Map Longitude: <%= @location.longitude %></h3>

<script type="text/javascript" src="javascripts/directions.js"></script>