<h1>Map Name: <%= @location.map_name %></h1>

<input id="end" type="hidden" value="(<%= @location.latitude %>, <%= @location.longitude %>)">

<div id="directions"></div>
<div id="map-canvas"></div>

<script type="text/javascript" src="javascripts/directions.js"></script>