html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px
}

body {
  margin: 0;
  padding: 0;
}

/* IMPORTANT!!! Else Map won't be visible */

#map-container {
  height: 400px;
  width: 400px;
  position: relative;
}

#map-loading {
  z-index: 1;
  width: 400px;
  line-height: 400px;
  position: absolute;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}