html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px
}

body {
  background-color: #ecf0f1;
  margin: 0;
  padding: 0;
}

#new-map {
  margin: 40px 20px 25px 0px;
  min-height: 45px;
}

#new-map input {
  font-size: 1.5em;
  height: 100%;
}

#new-map textarea {
  font-size: 1.32em;
  height: 100%;
}

#new-map label {
  margin-left: 2px;
  color: #555757;
  font-size: 1.2em;
}

#new-map-submit {
  height: 100%;
}

#send-link {
  margin: 45px 0px 40px 0px;
}

#success h3 {
  text-align: center;
  color: #27ae60;
}

#error h3 {
  text-align: center;
  color: #c0392b;
}

#about {
  background-color: white;
}

#title {
  text-align: center;
  font-size: 3.5em;
  color: inherit;
}

#map-title {
  margin: 0 auto;
  width: 20%;
  font-size: 5em;
}

#top {
  padding-top: 2em;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

a.blue {
  color: #2980b9;
}

a.blue:hover {
  color: #34495e;
  text-decoration: none;
}

/* IMPORTANT!!! Else Map won't be visible */

#map-container {
  height: 400px;
  position: relative;
  margin: 0 auto;
  padding: 30px 40px 30px 40px;
}

#map-loading {
  background: #ecf0f1;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
}

#map-loading h3 {
  margin-top: 200px;
}

#directions, #directions div {
  max-height: 100%;
  min-height: 100%;
  overflow: scroll;
}