html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px
}

body {
  margin: 0;
  padding: 0;
}

#map-canvas, #map-loading {
  height: 50%;
  width: 50%;
}

#map-loading {
  background: #666666;
}